[mysqld]
server-id=1
log-bin=mysql-bin
binlog-format=ROW
gtid-mode=ON
enforce-gtid-consistency=ON
binlog-expire-logs-seconds=604800
sync-binlog=1
innodb-flush-log-at-trx-commit=1
skip-name-resolve=ON

