MYSQL_ROOT_PASSWORD=
MYSQL_REPLICATION_PASSWORD=
IDENTITY_DB_PASSWORD=
LEARNING_DB_PASSWORD=
AI_DB_PASSWORD=
RABBITMQ_PASSWORD=
PGVECTOR_PASSWORD=
JWT_SECRET=
INTERNAL_TOKEN=
GATEWAY_TOKEN=
OPENAI_API_KEY=
OPENAI_EMBEDDING_API_KEY=
OCR_API_KEY=
MAIL_USERNAME=
MAIL_PASSWORD=
